<div class="col-md-6">
    <div class="map-wrapper">
        <div class="map"></div>
        <address>
            <div class="row">
                <div class="col-sm-6">
                    <strong>Wiljean Singing Ministry.</strong>
                    <span>Dafa - Kwali Area Council, FCT Abuja</span>
                </div>
                <div class="col-sm-6">
                    <a href="{% url 'contact' %}">mathiaswilfred7@yahoo.com</a> <br>
                    <a href="{% url 'contact' %}">+234 8134622388</a>
                </div>
            </div>
        </address>
    </div>
</div>