{% extends 'wiljeanApp/base/base.html' %}

{% block title %} About us{% endblock %}
{% load static %}

{% block content %}
<main class="main-content" style="padding-top:100px;">
	<div class="fullwidth-block inner-content">
		<div class="container">
			<h2 class="page-title">Contact Us</h2>
			<div class="notification-container" id="notification_message">
				<!-- notification goes here -->
				
			</div>
			<div class="row">
				<div class="col-md-6">
					<form action="{% url 'contact' %}" method = "post" class="contact-form" id = "form_id">
						{% csrf_token %}
						<input type="text" name="name" placeholder="Your name"..>
						<input type="text" name="email" placeholder="Email Address..">
						<!-- <input type="text" name="website" placeholder="Website..."> -->
						<textarea name="message" placeholder="Message..."></textarea>
						<input type="submit" value="Send message">
						{% if user.is_staff %}
						<a href="{% url 'all_contacts' %}" class="btn btn-primary">view messages</a>
						{% endif %}
					</form>
				</div>
				{% include 'wiljeanApp/base/address_base.html' %}
			</div>
		</div>
	</div> <!-- .testimonial-section -->

	
</main> <!-- .main-content -->
<script>
    $(document).ready(function() {
        $('#form_id').submit(function(e) {
            e.preventDefault();
            let form = $(this); // 'this' refers to the form being submitted
			let url1 = "{% url 'index' %}"
			let url2 = "{% url 'contact' %}"
			const responseDiv = $("#notification_message");

            $.ajax({
                url: form.attr('action'),
                type: form.attr('method'), 
                data: form.serialize(),
                success: function(data) {
					if (data.success){
						console.log(data)
						responseDiv.html(`<div class="alert alert-success">${data.message}</div>`);
						window.location.href=url1;


					} else {
                    // Handle errors
                    responseDiv.html(`<div class="alert alert-danger">${data.message}</div>`);
                	}
                    
                },
                error: function(error) {
                    console.log(status)
					window.location.href=url2
                }
            });
        });
    });
</script>



{% endblock %}