{% extends 'wiljeanApp/base/base.html' %}
{% block title %} Event Details {% endblock %}
{% load static %}
{% block content %}		
<div id="site-content" style="padding-top: 50px;">
    <main class="main-content">
        <div class="fullwidth-block">
            <div class="container">
                <h2 class="section-title">Event Details</h2>
                <div class="row">
                    <div class="col-md-6">
                        <div class="feature">
                            <figure class="cut-corner">
                                <img src="{{ events.ImageUrl }}" alt="{{ events.title }}" style="height: 500px;">
                            </figure>
                            <h3 class="feature-title">{{ events.title }}</h3>
                            <p>{{ events.body }}</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="event-details">
                            <h3>Details</h3>
                            <ul>
                                <li><strong>Author:</strong> {{ events.author }}</li>
                                <li><strong>Venue:</strong> {{ events.address }}</li>
                                <li><strong>Time:</strong> {{ events.time }}</li>
                                <li><strong>Date:</strong> {{ events.date }}</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- comment section -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="notification-container" id="notification_message">
                            <!-- notification goes here -->
                            
                        </div>
                        <h2 class="page-title ">Leave a comment</h2>
                        <form action="." method = "post" class="contact-form" id="eventcommentForm">
                            {% csrf_token %}
                            {% if not user.is_authenticated %}
                            <div class="form-group">
                                <label for="id_title">Name:</label>
                                {{ form.name }}
                                {% for error in form.name.errors %}
                                <p class="text-danger">{{ error }}</p>
                                {% endfor %}
                            </div>
                            {% endif %}
                            
                            <div class="form-group">
                                <label for="id_title">Message:</label>
                                {{ form.message }}
                                {% for error in form.message.errors %}
                                <p class="text-danger">{{ error }}</p>
                                {% endfor %}
                            </div>
                            <input type="submit" value="Post Comment">
                            
                        </form>
                        
                    </div>
                    
                </div>
                <!-- end -->

            </div>
                            <!-- comments -->
        
                            <div class="col-md-10 col-md-push-1">
                                <aside class="sidebar">
                                    <div class="widget">
                                        {% if comments %}
                                        <h3 class="widget-title">All comment</h3>
                                        {% endif %}
            
                                        <ul class="discography-list" id = "commentid">
                                            
                                            <!-- comment goes here -->
                                        </ul>
                                        
                                    </div>
                                </aside>
                            </div>
            
                            <!-- end -->
            
        </div>
        
    </main>

</div>

<script>
    $(document).ready(function(){
    function loadComments() {
    $.ajax({
        url: "{% url 'fetch_event_comments' events.id %}",
        type: 'GET',
        success: function(response){
            let commentsHTML = '';

                for (let i = 0; i < response.comments.length; i++) {
                    let comment = response.comments[i];

                    // Access user data directly from the comment object
                    let name =comment.name ? comment.name : comment.user;

                    // Construct HTML for the comment
                    commentsHTML += `<li>
                        <div class="detail">
                            <span class="year">${comment.text}</span>
                            <span class="track">By: ${name} | ${comment.date}</span><br>
                        </div>
                    </li>`;
                }
            // }

            $("#commentid").html(commentsHTML); // Replace existing comments with new ones
        },
        error: function(xhr, status, error){
            console.log(status, error);
        }
    });
}

loadComments();
       
    $("#eventcommentForm").submit(function(e){
        e.preventDefault();
        $.ajax({
            url: $(this).attr('action'),
            type: $(this).attr('method'),
            data: $(this).serialize(),
            success: function(response){
                // Load comments again after successful comment submission
                loadComments();
                

                $('#notification_message').html(`<div class="alert alert-success">${response.message}</div>`);
                // Optionally, you can reset the form
                $('#eventcommentForm')[0].reset();
            },
            error: function(xhr, status, error){
                console.log(status, error)
                $('#notification_message').html('<div class="alert alert-danger">Error: ' + status + '</div>');
            }
        });
    });


});
</script>

{% endblock %}
