{% extends 'wiljeanApp/base/reset_password_base.html' %}

{% load static %}

{% block title %}Password Change Form{% endblock %}

{% block content %}
<h2>Change password</h2>



<div class=" p-5">
    <div class="col-md-6 col-sm-12 mx-auto bg-dark text-white p-5">
        <div class="shadow shadow-responsive shadow-info ">
            
            <form method ="post" enctype="multipart/form-data" >
               <div class="form-group">
                {% csrf_token %}
                {% for field in form %}
                {{ field.label }}
                {{ field }}

               </div> 

                {% endfor %}
               
                  
                  <button class="btn btn-outline-success" type="submit">Login</button>
                  
            </form>
            
        </div>
    </div>
</div>
{% endblock %}

{% endblock %}