{% extends 'wiljeanApp/base/reset_password_base.html' %}

{% load static %}

{% block title %}Password reset complet{% endblock %}

{% block content %}
<div class=" p-5">
    <div class="col-md-6 col-sm-12 mx-auto bg-dark text-white p-5">
        <div class="shadow shadow-responsive shadow-info text-white">
            
            <h2>Reset Password</h2>
            <h3>Hurray! Your password has been changed.</h3>
            <a href="{% url 'authentication:signin' %}">Click here to Login</a> 
            
            
        </div>
    </div>
</div>
{% endblock %}