{% extends 'wiljeanApp/base/base.html' %}

{% load static %}

{% block title %}Password reset complet{% endblock %}
    
    {% block content %}
    <div class="container-fluid py-5 bg-dark">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 col-sm-10 col-12 bg-white rounded shadow p-5">
                <h2 class="text-center text-dark mb-4">Password Changed</h2>
                <p class="text-center mb-4">Your password has been successfully changed.</p>
                <div class="d-flex justify-content-center">
                    <a href="{% url 'index' %}" class="btn btn-primary mr-3">Home</a>
                    <a href="{% url 'authentication:signin' %}" class="btn btn-secondary">Logout</a>
                </div>
            </div>
        </div>
    </div>
    
    {% endblock %}
    