{% extends 'wiljeanApp/base/reset_password_base.html' %}

{% load static %}

{% block title %}Send password reset link{% endblock %}

{% block content %}
<div class=" p-5">
    <div class="col-md-6 col-sm-12 mx-auto bg-dark text-white p-5">
        <div class="shadow shadow-responsive shadow-info ">
            
            <form method ="post" >
                {% csrf_token %}
                
                {{ form.as_p }}
                <input type="submit" value="Reset">
                <a href="{% url 'index' %}">Back to home</a>
                  
                  
                  
            </form>
            
        </div>
    </div>
</div>
{% endblock %}