{% extends 'wiljeanApp/base/reset_password_base.html' %}

{% load static %}


{% block title %}Password reset done{% endblock %}

{% block content %}
<div class=" p-5">
    <div class="col-md-6 col-sm-12 mx-auto bg-dark text-white p-5">
        <div class="shadow shadow-responsive shadow-info ">
            <h2>Password reset done</h2>
           
            <p class="text-white">We have send you reset password link on your email. If this is
                a valid email you register on this blog with, you will receive a notification.
                 Please Check Your Email</p>

            <a href="{% url 'authentication:signin' %}">Back to login</a>
             
        </div>
    </div>
</div>
{% endblock %}