{% extends 'wiljeanApp/base/reset_password_base.html' %}

{% load static %}

{% block title %}Password reset{% endblock %}

{% block content %}
<div class=" p-5">
    <div class="col-md-6 col-sm-12 mx-auto bg-dark text-white p-5">
        <div class="shadow shadow-responsive shadow-info ">
            
            <h1 class="text-center mb-5 text-white">Reset Password</h1>
           <div class="alert alert-info mb-5 ">Please enter your Email</div> 
            <form method ="post" >
                {% csrf_token %}
                
                {% for field in form %}

               <div class="form-group">
                {{ field.label }}

                {{ field }}

               </div> 

                {% endfor %}

                <button class="btn btn-outline-success my-2" type="submit">Reset</button>
                  
                  
            </form>
            
        </div>
    </div>
</div>
{% endblock %}